body {
    font-size: 0.12rem;
}

.wraper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-flex;
    flex-direction: column;

}

.header {
    color: #fff;
    text-align: center;
    height: 44px;
    flex-shrink: 0;
    background-color: #31c27c;
}


.content {
    -webkit-flex: 1;
    position: relative;
}

.navbar-active {
    box-sizing: border-box;
    color: #31c27c;
    border-bottom: 2px solid #31c27c
}

.location-active {
    border: 1px solid orange;
}