.carousel {
    height: 150px;
    position: relative;
}

.carousel-pagination {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.carousel-pagination li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    overflow: hidden;
    background-color: #666;
}

.carousel .active {
    background-color: #aaa;
}